<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-lg-5">
            <div class="hidden-sm-down">
                <img src="assets/images/logo.png" width="100px" class="user-avatar" />
                <h1>App</h1>
            </div>
            <div class="hidden-md-up">
                <img src="assets/images/logo.png" width="50px" class="user-avatar" />
                <h3>App</h3>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-lg-5">
            <form role="form" (ngSubmit)="f.form.valid  && login()" #f="ngForm" novalidate>
                <div class="form-content">
                    <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !password.valid }">
                        <input type="password" class="form-control input-underline input-lg" 
                        [ngClass]="{ 'input-underline-danger': f.submitted && !password.valid}" 
                        name="password" [(ngModel)]="model.password" #password="ngModel" required placeholder="Password"/>
                        <div class="form-control-feedback text-left" *ngIf="f.submitted && !password.valid">Enter valid password</div>
                    </div>

                    <!--div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !fileInput.valid }">
                        <input #fileInput type="file" class="form-control input-underline input-lg" 
                            [ngClass]="{ 'input-underline-danger': f.submitted && !fileInput.valid}" 
                            name="fileInput" required 
                            placeholder="Take your face picture..."/>
                        <div class="form-control-feedback text-left" *ngIf="f.submitted && !fileInput.valid">
                            Required
                        </div>
                    </div-->
                    
                    <div class="form-group">
                        <!--button [disabled]="loading" class="btn rounded-btn">Log in</button>-->
                        <div class="image-upload" *ngIf="password.valid">
                            <input #fileInput type="file" id="pepe"
                            name="fileInput" required (change)="login()"/>
                            <label for="pepe">
                                <img src="assets/images/camera.png" alt="camera">
                                <span>Face Picture</span>
                            </label>
                        </div>
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        &nbsp;
                        <a [routerLink]="['/login']" class="btn rounded-btn">Volver</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>