<div class="welcome-page" [@routerTransition]>
  <div id="root">
    <div id="content">
      <div class="outer">
<!--            <div class="hidden-sm-down">-->
                    <div id="error" class="wrapper clearfix">
                            <h1 class="a">Shinobi.. 404!</h1>
                            <p>The page you were looking for appears to have been moved, deleted or does not exist. You could go back to our <a href="/">Menu</a>
                            </p>
                        </div>
    <!--        </div>
            <div class="hidden-sm-up">
                    <img src="assets/images/shinobi.png" width="100px"/>
                    <h1 class="a">Shinobi.. 404!</h1>
                    <p>The page you were looking for appears to have been moved, deleted or does not exist. You could go back to our <a href="/">Menu</a>
                    </p>
           </div>-->
        </div>
    </div>
  </div>
</div>
