<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-lg-5">
            <div class="hidden-sm-down">
                <img src="assets/images/logo.png" width="100px" class="user-avatar" />
                <h1>App</h1>
            </div>
            <div class="hidden-md-up">
                <img src="assets/images/logo.png" width="50px" class="user-avatar" />
                <h3>App</h3>
            </div>
            <div class="hidden-sm-down">
                <button (click)="googleLogin()" class="btn btn-block btn-social btn-google">
                    <span class="fa fa-google"></span> Log in with Google
                </button>
                <button (click)="facebookLogin()" class="btn btn-block btn-social btn-facebook">
                    <span class="fa fa-facebook"></span> Log in with Facebook
                </button>
                <a [routerLink]="['/facelogin']" class="btn btn-block btn-social btn-face">
                    <span class="fa fa-smile-o"></span>Log in with your Face</a>
            </div>
            <div class="hidden-md-up">
                <button (click)="googleLogin()" class="btn btn-sm btn-block btn-social btn-google">
                    <span class="fa fa-google"></span> Log in with Google
                </button>
                <button (click)="facebookLogin()" class="btn btn-sm btn-block btn-social btn-facebook">
                    <span class="fa fa-facebook"></span> Log in with Facebook
                </button>
                <a [routerLink]="['/facelogin']" class="btn btn-sm btn-block btn-social btn-face">
                    <span class="fa fa-smile-o"></span>Log in with your Face</a>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-lg-5">
            <form role="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                <div class="form-content">
                    <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !email.valid }">
                        <input type="email" class="form-control input-underline input-lg" 
                            [ngClass]="{ 'input-underline-danger': f.submitted && !email.valid}" 
                            name="email" [(ngModel)]="model.email" #email="ngModel" required placeholder="Email" email=true/>
                        <div class="form-control-feedback text-left" *ngIf="f.submitted && !email.valid">
                            <div *ngIf="email.errors.required">Required</div>
                            <div *ngIf="!email.errors.required && email.errors.email">invalid email</div>
                        </div>
                    </div>

                    <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !password.valid }">
                        <input type="password" class="form-control input-underline input-lg" 
                        [ngClass]="{ 'input-underline-danger': f.submitted && !password.valid}" 
                        name="password" [(ngModel)]="model.password" #password="ngModel" required placeholder="Password"/>
                        <div class="form-control-feedback text-left" *ngIf="f.submitted && !password.valid">Enter valid password</div>
                    </div>

                    <div class="form-group">          
                        <re-captcha #captchaRef="reCaptcha"
                            class="g-recaptcha"
                            required
                            name ="captcha"
                            size="invisible"
                            [(ngModel)]="model.captcha"
                            (resolved)="$event && loginCaptcha($event, f.form.valid)">
                        </re-captcha>                        
                    </div>

                    <div class="form-group">
                        <button [disabled]="loading" class="btn rounded-btn" 
                        (click)="captchaRef.execute()">Log in</button>
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        &nbsp;
                        <a [routerLink]="['/signup']" class="btn rounded-btn">Sign Up</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>